{{ "tailwind.css" | asset_url | stylesheet_tag }}

<style type="text/css">
  section {
    font-size: 16px;
  }

  div:empty {
    display: block;
  }

  .bg {
    background-image: url("https://images.pexels.com/photos/509922/pexels-photo-509922.jpeg?auto=compress&cs=tinysrgb&h=1080");
    /* height: 80vh; */
  }
</style>

<section>
  <div class="bg block bg-center bg-no-repeat bg-cover w-full h-screen"></div>
  <div class="absolute left-0 w-full top-24">
    <div class="pt-28 text-center">
      <h1 class="font-black text-8xl sm:text-9xl opacity-60">{{ "templates.404.subtext" | t }}</h1>
      <h2 class="font-bold mb-2 opacity-90 text-3xl">{{ "templates.404.title" | t }}</h2>
      <p class="font-light text-base mb-36 px-5">{{ "templates.404.description" | t }}</p>
      <a href="{{ routes.all_products_collection_url }}" class="text-base body-large button button--primary">
        {{ "general.continue_shopping" | t }}
      </a>
    </div>
  </div>
</section>
