{{ "tailwind.css" | asset_url | stylesheet_tag }}

<style type="text/css">
  section {
    font-size: 16px;
  }
</style>

<section>
  {%- if section.settings.image404 != blank -%} {%- assign image_size = 'master' -%}
  <div
    class="block bg-center bg-no-repeat bg-cover w-full h-screen"
    style="background-image: url('{{ section.settings.image404 | img_url: image_size }}');"
  ></div>
  {%- else -%}
  <div
    class="block bg-center bg-no-repeat bg-cover w-full h-screen"
    style="background-image: url('https://images.pexels.com/photos/509922/pexels-photo-509922.jpeg?auto=compress&cs=tinysrgb&h=1080')"
  ></div>
  {%- endif -%}

  <div class="absolute left-0 w-full top-24">
    <div class="pt-28 text-center">
      <h1 class="font-black text-8xl sm:text-9xl opacity-60">{{ "templates.404.subtext" | t }}</h1>
      <h2 class="font-bold mb-2 opacity-90 text-3xl">{{ "templates.404.title" | t }}</h2>
      <p class="font-light text-base mb-36 px-5">{{ "templates.404.description" | t }}</p>
      <a href="{{ routes.all_products_collection_url }}" class="text-base body-large button button--primary">
        {{ "general.continue_shopping" | t }}
      </a>
    </div>
  </div>
</section>

{% schema %} { "name": "t:sections.404-page.header", "settings": [ { "type": "image_picker", "id": "image404", "label": "t:sections.404-page.bgImage"
} ] } {% endschema %}
