<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'" />

<noscript>{{ "component-rte.css" | asset_url | stylesheet_tag }}</noscript>

<style>
  .page-placeholder {
    width: 32.8125rem;
    height: 32.8125rem;
  }
</style>

<div class="page-width page-width--narrow">
  <h2 class="mt-0">
    {%- if section.settings.page.title != blank -%}
    {{ section.settings.page.title | escape }}
    {%- else -%} Page title {%- endif -%}
  </h2>
  <div class="rte">
    {%- if section.settings.page.content != blank -%}
    {{ section.settings.page.content }}
    {%- else -%}
    <div class="flex justify-center placeholder">
      {{ "page" | placeholder_svg_tag: "page-placeholder" }}
    </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.page.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "page",
      "id": "page",
      "label": "t:sections.page.settings.page.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.page.presets.name"
    }
  ]
}
{% endschema %}
